[submodule "parmetis"]
	path = parmetis
	url = https://github.com/scivision/parmetis
[submodule "scotch"]
	path = scotch
	url = https://gitlab.inria.fr/scotch/scotch
[submodule "scalapack"]
	path = scalapack
	url = https://github.com/scivision/scalapack
