[submodule "metis"]
	path = metis
	url = https://github.com/scivision/metis
[submodule "parmetis"]
	path = parmetis
	url = https://github.com/scivision/parmetis
[submodule "scotch"]
	path = scotch
	url = https://gitlab.inria.fr/scotch/scotch
