[submodule "parmetis"]
	path = parmetis
	url = https://github.com/scivision/parmetis
	shallow = true
[submodule "scotch"]
	path = scotch
	url = https://github.com/scivision/scotch
	shallow = true
[submodule "scalapack"]
	path = scalapack
	url = https://github.com/scivision/scalapack
	shallow = true
